#email{
    color: greenyellow;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
}
#number{
    color: blue;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}