#Test{
    color: rgb(0, 255, 115);
    width:30%;
    height:60px;
    background-color: blue;
    border: solid black;
}
#LI{
 color: aqua;
 background-color: rgb(3, 3, 48);
 border:solid black;
}